.Rproj.user
.Rhistory
.RData
*~
inst/examples/data
*.Rdata
*.RData
*.Rds
*.Rproj

.DS_Store

language.Rds

# Docker related
# Dockerfile
.dockerignore
inst/examples/priority_fields.csv

inst/examples/df.preprocessed.csv
inst/extdata/geocoordinates.csv
inst/extras/Fennica_vs_Kungliga_5_word_title2.csv
