fennica_parsed.csv.gz
*.log
||||||| merged common ancestors
=======
fennica.csv.gz
eps*
bibliographica
figure_flex
# *.html
.obsidian/
20160715-slides-Krakow.R
20160715-slides-Krakow.html
20160715-slides-Krakow.md
tmp*
20160715-slides-Krakow-figure
slides_201606_Krakow
*cache*
*.pdf
*.csv
*publication_time.csv
*publication_time_19.csv
*language.csv
*language_19.csv
*title_19.csv
*title_accepted_19.csv
*title_accepted.csv
*title.csv
*title_uniform.csv
*title_uniform_19.csv
*~
summary_files/
data
*.Rds
*.RDs
*.RData
kungliga.Rds
fennica.Rds
*.quarto
/.quarto/
inst/examples/priority_fields.zip

**/*.quarto_ipynb
